@import 'cc-ss_colors';

$break-lrg: 856px;

/* Base Styles */

body {
  background-color: lavender;

  li {
    color: $olive;
  }

  i {
    color: $maroon;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;

    &:hover {
      color: lighten($maroon, 10%);
    }
  }

  h1 {
    border: none;
  }

  small {
    color: lighten($maroon, 10%);
    font-size: 1.125rem;
    text-align: center;
  }

  input,
  input[type="text"] {
    color: $maroon;
    background-color: lighten($olive, 49%);
  }
}

/* Layout Styles */

.l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  & > div,
  & > ul {
    border: 0.25px solid $maroon;
  }

  .l-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 82%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
    }

    li {
      border-bottom: 0.5px solid $olive;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-height: 2.75em;

      .fa-pencil-square-o {
        margin-left: 2%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
      }

      span {
        margin-left: 2%;
        -ms-flex-preferred-size: 67%;
        flex-basis: 67%;

        @media (min-width: $break-lrg) {
          -ms-flex-preferred-size: 74%;
          flex-basis: 74%;
          margin-left: 2%;
        }
      }

      small {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
        -ms-flex-item-align: center;
        align-self: center;
      }

      .edit-txt {
        border: none;
        height: 100%;
        border-radius: 0;
        border-right: 1px solid $olive;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 45%;

        @media (min-width: $break-lrg) {
          -ms-flex-preferred-size: 67%;
          flex-basis: 67%;
        }
      }

      .edit-date {
        height: 95%;
        border: none;
        border-right: 1px solid $olive;
        border-radius: 0;
        padding-left: 1%;
        min-width: 25%;
      }

      i:first-of-type {
        margin-left: 2%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
      }
    }

    li:hover .fa-window-close {
      display: inline;
    }

    .fa-window-close {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      float: right;
      margin-left: 1.25%;

      @media (min-width: $break-lrg) {
        display: none;
      }
    }
  }

  .l-lists {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 82%;

    @media (min-width: $break-lrg) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 100%;
      margin: 0;

      @media (min-width: $break-lrg) {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
      }
    }
  }

  .l-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 82%;
    margin-top: 2%;
    border-bottom: 0.5px solid $maroon;
    height: 2em;

    i {
      -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;

      @media (max-width: $break-lrg) {
        -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
      }
    }

    #item-txt {
      height: 100%;
      border-radius: 0;
      padding: 0;
      padding-left: 1%;
      border: none;
      border-right: 1px solid $olive;
      border-left: 1px solid $olive;
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;

      @media (min-width: $break-lrg) {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
      }
    }

    #date-txt {
      border-radius: 2px;
      padding-left: 1%;
      height: 3.47em;
      max-width: 25%;
      -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
      border: none;
    }
  }
}

/* Module Styles */

.main {
  background-color: lighten($olive, 49%);

  #item-txt {
    text-align: left;
  }

  #date-txt {
    text-align: center;
  }
}

.list {
  background-color: lighten($olive, 49%);

  li {
    font-weight: 400;
    list-style: none;
  }

  .strike {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.lists {
  text-align: center;

  li {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-weight: 300;
    line-height: 2.25em;
    background-color: lighten($olive, 49%);

    &:hover {
      cursor: pointer;
      color: lighten($olive, 20%);
      background-color: lighten(lavender, 4%);
    }
  }

  .select {
    color: lighten($maroon, 20%);
    background-color: lighten(lavender, 4%);
  }
}
